*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}
.change_grid{
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
}
.container{
    padding: 5px;
    width: 750px;
    border: 2px solid pink;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
}
