*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container{
    padding: 5px;
    width: 800px;
    border: 2px solid pink;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}
